.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  border: none;
  background-color: transparent;
  top: 10px;
  right: 10px;
  background-image: url(../images/State=Default.svg);
}

.card__delete-btn:hover {
  background-image: url(../images/trash-icon-Hover.svg);
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/Like-Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 1;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 0.4;
}

.card__like-btn_active {
  background-image: url(../images/like-icon-active.svg);
}

.card__like-btn_active:hover {
  opacity: 0.4s;
}

.card__title {
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  margin: 0;
  color: #212121;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    line-height: 100%;
    font-size: 16px;
    max-width: 260px;
  }
}
