.cards {
  padding-top: 20px;
  padding-bottom: 36px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1280px;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
  width: 100%;
}

@media screen and (max-width: 627px) {
  .cards {
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .cards__list {
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 288px;
    margin: 0 auto;
  }
}
