.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500;
  size: 32px;
  line-height: 100%;
}

.card__like-btn {
  background-image: url(../images/Like-Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__title {
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  margin: 0;
  color: #212121;
}

.card__like-btn:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    line-height: 100%;
    font-size: 16px;
    max-width: 260px;
  }
}
