.modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 36px 50px 32px;
}

.modal__close-btn {
  background-image: url(../images/CloseIcon.png);
  background-repeat: no-repeat;
  background-size: 35px 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  opacity: 0.4;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  background-image: url(../images/close-icon-white.svg);
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  margin: 0;
  color: #212121;
}

.modal__form {
  margin-top: 32px;
}

.modal__label {
  color: rgba(33, 33, 33, 0.7);
  display: block;
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.4);
  box-sizing: border-box;
  border-radius: 8px;
  margin: 8px 0 8px;
  padding: 16px 12px 16px;
  font-size: 20px;
  line-height: 1;
  width: 100%;
  color: #212121;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 0.3;
}

.modal__input:hover {
  border: 1px solid rgb(33 33 33);
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  display: block;
  margin: 8px 0 8px;
  min-height: 20px;
  color: red;
  font-size: 16px;
}

.modal__submit-btn {
  font-size: 16px;
  width: 100%;
  line-height: 1;
  max-width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  border: none;
  color: #fcf5e5;
  background: #212121;
  transition: 0.3s;
}

.modal__submit-btn:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal__submit-btn_ disabled {
  pointer-events: none;
  opacity: 50%;
}

.modal__image-container {
  position: relative;
}

.modal__btn {
  font-size: 16px;
  width: 100%;
  line-height: 1;
  max-width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  border: none;
  color: #fcf5e5;
  background: #212121;
  transition: 0.3s;
}

.modal__btn:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: #fcf5e5;
  border: none;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  background: rgba(33, 33, 33, 1);
  border-radius: 8px;
  opacity: 1;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  max-width: 200px;
}

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__form {
    margin-top: 34px;
  }

  .modal__input {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    max-width: none;
  }
}

@media screen and (max-width: 627px) {
  /*placed below the 480px media query to avoid being overwritten.*/
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }
}
