.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: start;
}

.profile__name {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin: 0 0 12px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  line-height: 100%;
  font-size: 32px;
  color: #212121;
}

.profile__description {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin: 0;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: [numer of lines];
  font-size: 16px;
  line-height: 100%;
  color: #212121;
  opacity: 0.7;
  height: auto;
  text-overflow: ellipsis;
}

.profile__edit-btn {
  font-weight: 500;
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  font-size: 16px;
  line-height: 100%;
  gap: 8px;
  opacity: 0.7;
  height: 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  align-items: flex-end;
  margin-top: auto;
  color: #212121;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__new-post-btn {
  margin-top: auto;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  width: 157px;
  height: 52px;
  border: none;
  gap: 8px;
  background-color: #212121;
  color: #fcf5e5;
  padding: 0;
  align-self: end;
  font-size: 16px;
  line-height: 100%;
  margin-left: auto;
}

.profile__new-post-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    margin-right: 0;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__column {
    align-items: center;
    margin: 0 0 20px;
  }

  .profile__description {
    margin: 0 0 16px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__edit-btn {
    display: flex;
    justify-content: center;
  }

  .profile__new-post-btn {
    margin: 0 auto;
    max-width: 288px;
    width: 100%;
  }
}
